@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial;
    font-size: 16px;
}

.expand {
    height: min-content !important;
    max-height: 2000px !important;
}

.prose pre {
    padding: 0;
}
.dark:prose-invert pre {
    padding: 0;
}